.productButton{
    background-color: rgb(20, 70, 160);
    color: white;
    border-radius: 8px !important;
    border: none;
}
.productButton:hover{
    background-color: white;
    color: rgb(20, 70, 160);
    border: 1px solid rgb(20, 70, 160);
    transition: all 0.3s;
}