.address{
    background-color: rgb(20, 70, 160);
    color: white;
    border-radius: 8px !important;
    border: none;
}
.address:hover{
    background-color: white;
    color: rgb(20, 70, 160);
    border: 1px solid rgb(20, 70, 160);
    transition: all 0.3s;
}
.shippingTitle{
    font-weight: 700;
    color: black;
    font-size: 35px;
}
.shippingSubTitile{
    color: rgb(122,122,122);
}



.checkForm{
    color: rgb(20, 70, 160);
    font-weight: 600;
}




.CartTitle{
    font-weight: 700;
    color: black;
    font-size: 35px;
}
.cartHeading{
    color: rgb(20, 70, 160);
    font-weight: bold;
}
.cartAmount{
    font-weight: 200;
    color: rgb(122, 122, 122);
}